version: "3.8"

services:
  postgres:
    image: postgres:15
    env_file: .env
    restart: always
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - biathlon-net

  airflow:
    build: ./airflow
    env_file: .env
    restart: always
    networks:
      - biathlon-net
    ports:
      - "8080:8080"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - ./airflow/data:/opt/airflow/simple_auth_data
      - ./dbt:/opt/airflow/dbt

  superset:
    build: ./superset
    env_file: .env
    restart: always
    networks:
      - biathlon-net
    ports:
      - "8088:8088"
    volumes:
      - superset-data:/app/superset_home

  clickhouse:
    build: ./clickhouse
    env_file: .env
    restart: always
    networks:
      - biathlon-net
    volumes:
      - clickhouse-data:/var/lib/clickhouse

networks:
  biathlon-net:
    driver: bridge

volumes:
  postgres-data:
  clickhouse-data:
  superset-data:
