version: "3.8"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - biathlon-net

  airflow-webserver:
    build: ./airflow
    env_file: .env
    networks:
      - biathlon-net
    command: api-server
    ports:
      - "8080:8080"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - ./airflow/data:/opt/airflow/simple_auth_data

  airflow-scheduler:
    build: ./airflow
    env_file: .env
    networks:
      - biathlon-net
    command: scheduler
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins

  airflow-dag-processor:
    build: ./airflow
    env_file: .env
    networks:
      - biathlon-net
    command: dag-processor
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins

  airflow-triggerer:
    build: ./airflow
    env_file: .env
    networks:
      - biathlon-net
    command: triggerer
    volumes:
      - ./airflow/logs:/opt/airflow/logs

  superset:
    build: ./superset
    env_file: .env
    networks:
      - biathlon-net
    ports:
      - "8088:8088"
    volumes:
      - superset-data:/app/superset_home

  clickhouse:
    build: ./clickhouse
    env_file: .env
    networks:
      - biathlon-net
    volumes:
      - clickhouse-data:/var/lib/clickhouse

networks:
  biathlon-net:
    driver: bridge

volumes:
  postgres-data:
  clickhouse-data:
  superset-data:
